<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Team Building - Activities</title>
    <%= stylesheet '/style.css' %>
  </head>
  <body>

    <div class="banner">
			<div class="container">
				<h1>Team Building - Activities</h1>
				<h2>Discover our activities</h2>
			</div>
		</div>


    <div class="cards">
      <% @activities.each do |activity| %>
        <div class="card">

          <div>
            <h3><%= activity["name"] %></h3>
            <div class="image" style="background-image: url(<%=activity["photo"]%>)" title="<%=activity["name"]%>"></div>
          </div>
          <div>
            <span class="activity"><%= activity["category"].upcase %></span>
            <h4><%= activity["city"] %></h4>
            <p>🕒 <%= activity["duration"] %> minutes</p>
            <p>👪 <%= activity["number_participants"]%> participants</p>
            <h4><%= activity["price"] %> €</h4>
            <a href="#" class="btn-orange">Book a session</a>
          </div>


        </div>
      <% end %>
    </div>

  </body>
</html>
